body {
  background: linear-gradient(135deg, #eef1f3, #d9e2ec);
}

main {
  padding: 4rem;
  min-width: 0
}

.row {
  justify-content: center;
}


.sidebar {
  background: #013927;
  height: 100vh;
}

.miniSidebar {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(0.6rem);
  border: 0.06rem solid rgba(255, 255, 255, 0.01);
  box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.37);
  border-radius: 0.9rem;
  padding: 2rem;
}

.tituloAdministrador {
  font-family: 'Quicksand', sans-serif;
  color: #ffff;
}

.sidebar .nav-link {
  color: #fff;
  padding: 0.6rem 0.8rem;
  margin-bottom: 0.3rem;
  transition: all 0.3s ease;
}


.sidebar .nav-link:hover {
  color: #bc9c22 !important;
  background-color: #013927;
  border: 0.1rem solid #bc9c22;
  transform: translateX(0.3rem);
}

.sidebar .nav-link.active {
  background: #39885d;
}

.sidebar .nav-link.active:hover {
  color: #bc9c22 !important;
  background-color: #013927;
  border: 0.1rem solid #bc9c22;
  transform: translateX(0.3rem);
}


.linkHome {
  color: #fff !important;
}

.linkAProductos {
  color: #ffff !important;
}



.sidebar .dropdown img {
  box-shadow: 0 0.25rem 0.6rem rgba(0, 0, 0, 0.2),
    0 0 0.5rem rgba(255, 255, 255, 0.3);
}

.sidebar .dropdown-toggle::after {
  border-top: 0.3rem solid #fff;
}

/*CARDS */

.card {
  height: 8.75rem;
  border-radius: 1rem;
  background-color: white;
  transition: all 0.3s ease;

  border-top: 4px solid #013927 !important;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 45px rgba(0,0,0,0.15);
}

/* títulos dentro de cards */
.card h6 {
  color: #39885d;
  font-weight: 500;
}

.card h3 {
  color: #1c1c1c;
}





 /* MOBILE */

@media (max-width: 768px) {

  .sidebar {
    left: -280px;
    transition: 0.3s;
    z-index: 1050;
  }

  .sidebar.active {
    left: 0;
  }

  main {
    margin-left: 0;
    padding: 1.5rem;
  }
}

/*desktop*/

 @media (min-width: 768px) {

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
  }

  main {
    margin-left: 280px;
  }
} 
